github "hackiftekhar/IQKeyboardManager"
github "rushisangani/RSSelectionMenu" ~> 7.1
github "krzyzanowskim/CryptoSwift"
github "Alamofire/Alamofire" ~> 5.2
github "Krimpedance/KRProgressHUD"
github "onevcat/Kingfisher" ~> 5.8.0
github "Flight-School/AnyCodable" ~> 0.4.0